src/main/resources/exampleService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://pokeapi.com/gen"
           xmlns="http://pokeapi.com/gen"
           elementFormDefault="qualified">

    <xs:element name="getExampleRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="input" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getExampleResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="output" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
